body {
  background:rgb(198, 91, 220);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ToursContainer{
  position:relative;
  text-align:center;
  
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;

}
.toursCard{
  
  box-shadow:0 2px 5px;
  width:60%;
  background:rgb(244, 198, 238);
  margin-bottom: 30px;
}
.priceName{
  display:flex;
  justify-content:space-between;
}
.info{
  font-size:15px;
  background:rgb(139, 234, 139)
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.centerBox{
  box-shadow:0 2px 5px;
  position:absolute;
  background-color:white;
  top:50%;
  right:50%;
  margin-top:50px;
  transform:translate(50%,-30%);
  width:400px;
  text-align:center;
}
.card{
  display:flex;
  gap:20px;
  margin-bottom:20px;
}
.remove{
  margin-bottom:5px;
  height:30px;
  width:100%;
  cursor:pointer
}
.remove:hover{
  background:rgb(198, 91, 220);
}