body {
  /* background:#8248D9; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.colorNotFound{
  border-color: red;
  border-width:3px;
}
.found{
  border: 1px solid black
  
}
.boxStyle{
  height:230px;
  width:220px;
  box-shadow:0 2px 5px;
  background: rgb(0, 242, 255);
}
.colorBoxes{
  display:flex;
  flex-wrap:wrap;
  gap:30px
}